@import url('./nav/nav.css');
@import url('./containers/content.css');
@import url('./header/header.css');
@import url('./products/products.css');

:root{
    --pink: #FF5E60;
    --red: #C82A29;
    --white: white;
    --black: black;
    --font:'Jost', sans-serif;
    --nav-offset: 0px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);   
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

input,
button{
    font-family: inherit;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}