@import url('./nav/nav.css');
@import url('./containers/content.css');
@import url('./header/header.css');
@import url('./products/products.css');

:root{
    --pink: #FF5E60;
    --red: #C82A29;
    --white: white;
    --black: black;
    --font:'Jost', sans-serif;
    --nav-offset: 0px;
    --border-color: rgba(0, 0, 0, .15);
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);   
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

input,
button{
    font-family: inherit;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section{
    min-height: 100vh;
}

section .content{
    margin-top: calc(50px + var(--nav-offset));
    display: flex;
    align-items: center;
    flex-direction: column;
}

section h2{
    text-align: center;
    border: solid 2px var(--pink);
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    color: var(--pink);
}